.Title {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Rick_Card img {
    width: 100%;
    height: auto;
}
.Rick_Card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Rick_Content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}